# IntelliJ Files
*.iml
.idea/

# Java files
target
*.class

# Angular files
front/src/dist
front/src/tmp
front/src/out-tsc
front/src/node_modules
front/src/.sass-cache
front/src/connect.lock
front/src/coverage
front/src/libpeerconnection.log
front/src/npm-debug.log
front/src/testem.log
front/src/typings
front/src/e2e/*.js
front/src/e2e/*.map

# System Files
.DS_Store
Thumbs.db
