# IntelliJ Files
*.iml
.idea/

# Java files
target
*.class

## Gradle
/back/gradle_cache/
/back/.gradle/
/back/build/
/back/gradle/
/back/gradlew
/back/gradlew.bat
/back/out/
# Visual Studio files
.vscode/

# Angular files
front/dist
front/tmp
front/out-tsc
front/node_modules/
front/.sass-cache
front/connect.lock
front/coverage
front/libpeerconnection.log
front/*.log
front/typings
front/e2e/*.js
front/e2e/*.map
front/package-lock.json
front/yarn.lock


# System Files
.DS_Store
Thumbs.db

# docker files
docker-compose.yml
