mat-spinner {
    margin: 20px auto;
}

mat-divider {
    margin-top: 20px;
    margin-bottom: 20px;
}

mat-card {
    margin-top: 20px;
}

mat-expansion-panel {
    margin-top: 20px;
    margin-bottom: 10px;
}
