<app-title [back]="true"></app-title>
<div class="container">

  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <app-error [error]="error"></app-error>

  <ng-container *ngIf="!isLoading && snippet">

    <h3>{{snippet.title}}</h3>

    <mat-chip-list>
      <mat-chip color="primary" selected>{{snippet.language.name}}</mat-chip>
      <mat-chip *ngIf="snippet.language.version">{{snippet.language.version}}</mat-chip>
    </mat-chip-list>

    <mat-divider></mat-divider>

    <mat-chip-list>
      <mat-chip *ngFor="let keyword of snippet.keywords">{{keyword}}</mat-chip>
    </mat-chip-list>

    <mat-card>{{snippet.description}}</mat-card>

    <mat-tab-group>
      <ng-container *ngFor="let file of snippet.files">
        <mat-tab [label]="file.filename">
          <app-editor [content]="file.content" [language]="snippet.language?.name"></app-editor>
        </mat-tab>
      </ng-container>
    </mat-tab-group>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>More information</mat-panel-title>
      </mat-expansion-panel-header>

      <h4>Author:</h4>
      <p>{{snippet.author}}</p>

      <h4>Created:</h4>
      <p>{{snippet.created}}</p>

      <h4>Last modified:</h4>
    </mat-expansion-panel>

  </ng-container>
</div>
