.white {
  color: white;
}

.button.white {
  background-color: white !important;
}

.button.padded {
  padding: 0.8rem 2rem !important;
}

.uppercase {
  text-transform: uppercase !important;
}

.brand.logo {
  .icon {
    font-weight: bold;
    font-size: 1rem !important;

    &.white {
      background-color: white !important;
    }

    &.white:before {
      color: #363636;
    }
  }
  padding: 0.8rem 0;
}

.ui.menu {

  margin-bottom: 0;
  padding: 0 5%;

  .item {
    &:before {
      width: 0;
    }
  }

  &.homepage {
    background: transparent;
    position: absolute;
    width: 100%;
    z-index: 10;
  }

  a {
    font-weight: bold;
  }
}

.ui.menu .item:first-child {
  padding-left: 0;
}

.item.ui.search {
  width: 30%;
}

.borderless  {
  border: none !important;
  box-shadow: none !important;
}
