.blinker {
  animation-name: blinker;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(1,0,0,1);
  animation-duration: 1s;
  //Basic styling
  display: inline-block;
  width: 4px;
  height: 40px;
  border-radius: 3px;
}

@keyframes blinker {
  from { opacity: 1.0; } to { opacity: 0.0; }
}
