@import '../../../colors';

$block-margin: 60px;
$block-margin-small: 15px;

.blinker {
  background-color: $accent;
}

.header-background {
  overflow: hidden;
  background-color: $primary;
}

.header-section {
  color: white;
  text-align: center;
  padding-top: $block-margin;

  .accent {
    color: $accent;
  }
}

.header-headline {
  h1 {
    font-size: 56px;
    font-weight: 300;
    line-height: 56px;
    margin: 15px 5px;
  }

  h2 {
    font-size: 24px;
    font-weight: 300;
    line-height: 28px;
    margin: 15px 0 25px 0;
  }
}

.header-start {
  text-align: center;
  margin: $block-margin 0;
  button {
    padding: 0.5em 1em;
    text-transform: uppercase;
  }
}

@media (max-width: 720px) {
  .header-section {
    padding-top: $block-margin-small;
  }

  .header-start,
  .homepage-bottom-start {
    margin: $block-margin-small 0;
  }

  .homepage-row {
    margin: $block-margin-small 0;
  }
}

mat-grid-list {
  margin-top: 5em;
}

mat-grid-tile {
  text-align: center;
}

mat-icon {
  width: inherit;
  height: inherit;
  font-size: 5em;
  color: $primary;
}

mat-card {
  position: absolute;
  top: 0;
  box-shadow: none !important;
}

mat-card-title {
  font-size: 2em;
  font-weight: bold;
  color: $primary;
  margin-bottom: 0.5em;
}

mat-card-content {
  font-size: 1.2em;
  font-weight: lighter;
}