<div class="ui top attached no-padding segment" style="background-image: url('assets/images/homepage.jpg')">
  <div class="ui text container">
    <h1 class="ui white uppercase header">Saveyour<span class="emphasis">code.<span class="blinker"></span></span></h1>
    <h2 class="ui white uppercase header">You might need it again along your journey</h2>
    <a [routerLink]="['/overview']" class="ui huge inverted yellow button">Start now</a>
  </div>
</div>

<div id="coddy-presentation" class="ui attached center aligned padding segment">
  <div class="ui horizontal segments">
    <div class="ui segment">
      <div class="ui yellow huge icon header">
        <i class="rocket icon"></i>
        <div class="content">
          Create
          <div class="sub header">Create your code snippet and tag metadata on it, so you can find it later.</div>
        </div>
      </div>
    </div>
    <div class="ui segment">
      <div class="ui teal huge icon header">
        <i class="search icon"></i>
        <div class="content">
          Search
          <div class="sub header">Find and manage your snippets using a powerful and intuitive search engine.</div>
        </div>
      </div>
    </div>
    <div class="ui segment">
      <div class="ui yellow huge icon header">
        <i class="users icon"></i>
        <div class="content">
          Share
          <div class="sub header">Share your snippets and access to code written by the community.</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui attached center aligned padding segment">
  <img class="image logo" src="assets/images/spring-boot-logo.png" />
  <img class="image logo" src="assets/images/angular-logo.png" />
  <img class="image logo" src="assets/images/docker-logo.png" />
  <img class="image logo" src="assets/images/elastic-logo.png" />
  <img class="image logo" src="assets/images/java-logo.png" />
  <img class="image logo" src="assets/images/typescript-logo.png" />
  <img class="image logo" src="assets/images/gradle-logo.png" />
</div>

<div class="ui bottom attached center aligned segment">
  <div class="ui container">
    <div class="footer">
      <div class="ui centered small header">
        Made with
        <span><i class="red heart icon no margin"></i></span> on
        <a href="https://github.com/Crunchy-Torch/coddy" target="blank">Github</a>
      </div>
    </div>
  </div>
</div>