.white {
  color: white;
}

.emphasis {
  color: #fbbd08;
  font-weight: bold;

  .blinker {
    background: #fbbd08;
  }
}

.uppercase {
  text-transform: uppercase;
}

h1.ui.header {
  font-size: 4rem;
  font-weight: lighter;
  margin: 0;
}

h2.ui.header {
  margin: 0 0 1rem 0;
}

.ui.attached.segment {

  &.top {
    width: 100%;
    height: 100%;
    position: relative;
    background-repeat: round;

    .text.container {
      position: absolute;
      left: 5%;
      bottom: 20%;
    }
  }
}

.ui.horizontal.segments {
  padding: 0 4rem;
  border: none;
  box-shadow: none;

  .segment {
    border: none;
    padding: 2rem;

    .content {
      text-transform: uppercase;
    }

    .sub.header {
      text-transform: none;
      font-size: 1.3rem;
    }
  }
}

.icon.no.margin {
  margin-right: 0 !important;
}
