<header class="header-background">
  <div class="header-section">
    <div class="header-headline">
      <h1 class="mat-h1">SAVEYOUR<span class="accent">CODE</span>.<span class="blinker"></span></h1>
      <h2>You might need it again along your journey</h2>
    </div>
    <div class="header-start">
      <button mat-raised-button routerLink="/overview">Get started</button>
    </div>
  </div>
</header>

<div class="content-grid">
  <div class="content-row">
    <div class="center">
      <div class="content-image" [style.background]="'grey'">
      </div>
      <div class="content-text">
        <h1 class="mat-h1">Create</h1>
        <p>Create your code snippet and tag metadata on it, so you can find it later.</p>
      </div>
    </div>
  </div>
  <div class="content-row">
    <div class="center">
      <div class="content-image" [style.background]="'grey'">
      </div>
      <div class="content-text">
        <h1>Search</h1>
        <p>Find and manage your snippets using a powerful and intuitive search engine.</p>
      </div>
    </div>
  </div>
  <div class="content-row">
    <div class="center">
      <div class="content-image" [style.background]="'grey'">
      </div>
      <div class="content-text">
        <h1>Share</h1>
        <p>Share your snippets and access to code written by the community.</p>
      </div>
    </div>
  </div>
</div>
