.toast.container {
  position: absolute;

  &.top {
    // consider navbar
    top: 5rem;
  }

  &.bottom {
    bottom: 1rem;
  }

  &.right {
    right: 1rem;
  }

  &.left {
    left: 1rem;
  }
}

.ui.message {
  padding: 1rem 4rem 1rem 2rem;

  &.green {
    background-color: #1ebc30;
    color: white;

    .header {
      color: white;
    }
  }
}
