.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 25px 0;

  button + button {
    margin-left: 10px;
  }

  mat-form-field {
    width: 40%;
  }
}

table {
  width: 100%;
}

mat-spinner {
  margin: 20px auto;
}

.no-result {
  text-align: center;
}

#snippets-table {
  -webkit-animation: fadein 0.8s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.8s; /* Firefox < 16 */
  -ms-animation: fadein 0.8s; /* Internet Explorer */
  -o-animation: fadein 0.8s; /* Opera < 12.1 */
  animation: fadein 0.8s;
}
