.status > h1 {
  font-size: 2.6rem;
  font-weight: 300;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
  height: auto;
  padding: 8px;
  margin-bottom: 8px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-content {
  display: flex;
  line-height: 2;
  flex-direction: column;
  padding: 0 .5rem;
  white-space: normal;

  p {
    font-size: 1rem;
    word-wrap: break-word;
  }
}
