<div class="centered">
  <mat-card class="container mat-elevation-z6">
    <mat-card-header class="mat-primary">
      <mat-card-title>
        <mat-icon>code</mat-icon>
        <h1 class="mat-h1">Coddy</h1>
      </mat-card-title>
    </mat-card-header>

    <app-error [error]="error"></app-error>
    <app-message *ngIf="tokenHasExpired" [message]="'Your session has expired.'"
                 [details]="'Don\'t be sad: this had to happen eventually...'"
                 [type]="MESSAGE_TYPE.WARNING"></app-message>
    <app-message *ngIf="redirect" [message]="'This action requires to be logged in'"
                 [details]="'Fill in the details: cheats\'s about to get real.'"
                 [type]="MESSAGE_TYPE.INFO"></app-message>

    <form #loginForm="ngForm" (ngSubmit)="authenticate()">
      <mat-form-field>
        <mat-icon matPrefix>person</mat-icon>
        <input matInput [(ngModel)]="login" #loginInput name="login" type="text" placeholder="Username" required>
      </mat-form-field>
      <mat-form-field>
        <mat-icon matPrefix>lock</mat-icon>
        <input matInput [(ngModel)]="password" name="password" type="password" placeholder="Password" required>
      </mat-form-field>
      <button mat-raised-button class="mat-accent" type="submit" [disabled]="!loginForm.form.valid || isLoading">
        Login
      </button>
    </form>
  </mat-card>
</div>
