@import '../../../colors';

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 0;
  background-color: $primary;
}

.login-container {
  width: 450px;
}

mat-card-header, mat-card-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-icon {
  margin-right: 5px;
}

mat-form-field {
  width: 100%;
}

form {
  button {
    width: 100%;
    margin-top: 15px;
  }
}
