<app-error [error]="error"></app-error>

<div class="ui form">
  <div class="ui stacked segment">
    <div class="field">
      <div class="ui left icon input">
        <input [value]="login" type="text" placeholder="Username">
        <i class="user icon"></i>
      </div>
    </div>
    <div class="field">
      <div class="ui left icon input">
        <input [value]="password" type="password" placeholder="Password">
        <i class="lock icon"></i>
      </div>
    </div>
    <button (click)="authenticate()" class="ui fluid large teal submit button">Login</button>
  </div>
</div>