<div class="ui container">

  <app-title [text]="'Create a snippet'" [back]="true"></app-title>
  <app-error [error]="error"></app-error>

  <form [formGroup]="snippetForm" [ngClass]="{'loading': isLoading}" (ngSubmit)="onSubmit()" class="ui form" novalidate>

    <div class="two fields">
      <div app-text-field class="field" [control]="snippetForm?.get('title')" [name]="'Title'" [placeholder]="'Title'"
           [help]="validationMessages.title"></div>
      <div app-text-field class="field" [control]="snippetForm?.get('keywords')" [name]="'Keywords'"
           [placeholder]="'Loop, responsive, etc.'"></div>
    </div>

    <div class="two fields">
      <div app-text-area class="field" [control]="snippetForm?.get('description')" [name]="'Description'"
           [placeholder]="'Write a few words to describe your snippet'" [help]="validationMessages.description"></div>

      <div class="field">
        <div class="two fields">
          <div app-dropdown class="field" [control]="snippetForm?.get('language')?.get('name')" [name]="'Language'"
               [placeholder]="'Select a language'" [items]="languages"></div>
          <div app-text-field class="field" [control]="snippetForm?.get('language')?.get('version')" [name]="'Version'"
               [placeholder]="'Number or name'"></div>
        </div>
      </div>
    </div>

    <div class="field">
      <div id="files" class="ui top attached tabular menu">
        <a *ngFor="let file of snippetFormData.controls; let first = first; let i = index" class="item"
           [ngClass]="{ active: first }" [attr.data-tab]="'tab' + i">
          {{file.value.filename}}
        </a>
        <div class="padded">
          <a class="ui small teal icon button" (click)="addFile()"><i class="plus icon"></i></a>
        </div>
      </div>
      <div *ngFor="let file of snippetFormData.controls; let first = first; let i = index"
           class="ui bottom attached tab segment"
           [ngClass]="{ active: first }" [attr.data-tab]="'tab' + i">
        <div app-text-field class="field" [control]="file.get('filename')" [placeholder]="'Filename'"></div>
        <app-editor
            [content]="file.get('content').value"
            (contentChange)="updatePageContent(file.get('content'), $event)"
            [language]="snippetForm?.get('language')?.get('name').value"
            [readOnly]="false"></app-editor>
      </div>
    </div>

    <button class="ui button" type="submit" [disabled]="!snippetForm.valid">Submit</button>
  </form>
</div>
