<label *ngIf="name" class="inline">{{improvedName}}</label>
<i [id]="name" *ngIf="help?.length > 0" class="info circle icon"></i>
<div class="ui icon input">
  <textarea [rows]="rows" [formControl]="control" [placeholder]="placeholder"></textarea>
  <i *ngIf="control?.invalid && (control?.dirty || control?.touched)" class="red remove icon"></i>
  <i *ngIf="control?.valid && control?.touched" class="green checkmark icon"></i>
</div>
<div [id]="name + '-popup'" *ngIf="help?.length > 0" class="ui popup">
  <div class="ui bulleted list">
    <div *ngFor="let text of help" class="item">{{text}}</div>
  </div>
</div>