@import '../../../colors';

.title-container {
  background: $primary;
  padding: 15px 30px;
  color: white;
  display: flex;
}

h1 {
  font-weight: 300;
  font-size: 25px;
}

button {
  margin-right: 5px;
}