swagger: "2.0"
info:
  description: "this is the complete swagger which provide all endpoint currently available"
  version: "1.0.0"
  title: "Swagger Coddy"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "coddy.crunchy-torch.io"
basePath: "/api/v1"
tags:
- name: "snippet"
  description: "Operation about snippet"
- name: "user"
  description: "Operations about user"
schemes:
- "http"
paths:
  /user:
    post:
      tags:
      - "user"
      summary: "Create user"
      operationId: "createUser"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Created user object"
        required: true
        schema:
          $ref: "#/definitions/Credential"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/SimpleUser"
    get:
      tags:
      - "user"
      summary: "Get all users"
      operationId: "getUsers"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "Authorization"
        in: "header"
        description: "the jwt token needed to authenticate the user and check permission"
        required: true
        type: "string"
      - name: "from"
        in: "query"
        required: false
        description: "the offset from the first result you want to fetch"
        type: integer
        default: 0
      - name: "size"
        in: "query"
        required: false
        description: "allows you to configure the maximum amount of hits to be returned."
        type: integer
        default: 10
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/SimpleUserList"
        401:
          description: "access unauthorized"
          schema:
            $ref: "#/definitions/ApiErrorResponse"
        403:
          description: "access forbidden"
          schema:
            $ref: "#/definitions/ApiErrorResponse"

  /user/auth:
    post:
      tags:
      - "user"
      summary: "Logs user into the system"
      operationId: "loginUser"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        required: true
        schema:
          $ref: "#/definitions/Credential"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/Token"
        400:
          description: "Invalid login/password supplied"
          schema:
            $ref: "#/definitions/ApiErrorResponse"
  /user/{login}:
    get:
      tags:
      - "user"
      summary: "Get user by user login"
      description: ""
      operationId: "getUserByLogin"
      produces:
      - "application/json"
      parameters:
      - name: "login"
        in: "path"
        description: "The login that needs to be fetched."
        required: true
        type: "string"
      - name: "Authorization"
        in: "header"
        description: "the jwt token needed to authenticate the user and check permission"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/SimpleUser"
        401:
          description: "access unauthorized"
          schema:
            $ref: "#/definitions/ApiErrorResponse"
        403:
          description: "access forbidden"
          schema:
            $ref: "#/definitions/ApiErrorResponse"
        404:
          schema:
            $ref: "#/definitions/ApiErrorResponse"
          description: "User not found"
    put:
      tags:
      - "user"
      summary: "Updated user"
      description: "This can only be done by the logged in user."
      operationId: "updateUser"
      produces:
      - "application/json"
      parameters:
      - name: "login"
        in: "path"
        description: "name that need to be updated"
        required: true
        type: "string"
      - name: "Authorization"
        in: "header"
        description: "the jwt token needed to authenticate the user and check permission"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "Updated user object"
        required: true
        schema:
          $ref: "#/definitions/UpdateUser"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/SimpleUser"
        400:
          description: "Invalid user supplied"
          schema:
            $ref: "#/definitions/ApiErrorResponse"
        401:
          description: "access unauthorized"
          schema:
            $ref: "#/definitions/ApiErrorResponse"
        403:
          description: "access forbidden"
          schema:
            $ref: "#/definitions/ApiErrorResponse"
        404:
          description: "User not found"
          schema:
            $ref: "#/definitions/ApiErrorResponse"
    delete:
      tags:
      - "user"
      summary: "Delete user"
      description: "This can only be done by the logged in user."
      operationId: "deleteUser"
      produces:
      - "application/json"
      parameters:
      - name: "login"
        in: "path"
        description: "The name that needs to be deleted"
        required: true
        type: "string"
      - name: "Authorization"
        in: "header"
        description: "the jwt token needed to authenticate the user and check permission"
        required: true
        type: "string"
      responses:
        204:
          description: "successful operation with no content"
        400:
          description: "Invalid username supplied"
          schema:
            $ref: "#/definitions/ApiErrorResponse"
        401:
          description: "access unauthorized"
          schema:
            $ref: "#/definitions/ApiErrorResponse"
        403:
          description: "access forbidden"
          schema:
            $ref: "#/definitions/ApiErrorResponse"
        404:
          description: "User not found"
          schema:
            $ref: "#/definitions/ApiErrorResponse"
definitions:
  Credential:
    type: "object"
    properties:
      login:
        type: "string"
      password:
        type: "string"
  SimpleUser:
    type: "object"
    properties:
      login:
        type: "string"
      firstName:
        type: "string"
      lastName:
        type: "string"
      email:
        type: "string"
      permissions:
        type: "array"
        items:
          type: "string"
  UpdateUser:
    type: "object"
    properties:
      login:
        type: "string"
      firstName:
        type: "string"
      lastName:
        type: "string"
      email:
        type: "string"
      password:
        type: "string"
  SimpleUserList:
    type: "array"
    items:
      $ref: "#/definitions/SimpleUser"
  Token:
    type: "object"
    properties:
      token:
        type: "string"
  ApiErrorResponse:
    type: "object"
    properties:
      message:
        type: "string"