.masthead.segment {
    min-height: 100%;
    padding: 1em 0em;
    background-color:#f7f7f7;
    background-position: center;
    background-size: 100%;
}

.brand.logo {
  position: absolute;
  top: 1rem;
  left: 1rem;  
}

.brand.logo .icon {
  font-size: 1.2rem !important;
}

.header + .header {
  margin-top: 0;
  margin-bottom: 2rem;
}

.darkgrey.header {
  color: #666;
  font-weight: 500;
}

.ui.text.container {
    margin-top: 5em;
}

.icon.no.margin {
    margin-right: 0 !important;
}

.field {
    margin-bottom: 1em;
}

.column {
    max-width: 450px;
}

.transparent.button {
    border: none;
    background-color: transparent;
    color: white;
}

.transparent.button:focus {
    outline: none;
}

.padding.segment {
    padding: 5em 0 5em 0;
}

.image.logo {
    max-width: 100px;
    max-height: 100px;
}

.image.logo + .image.logo {
    margin-left: 1em;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

i.big.icon {
    font-size: 3em;
}

.image.segment {
    background-repeat: no-repeat;
}

.scroll.button.container {
    position: absolute;
    bottom: 0;
    left: 50%;
}

.scroll.button.container > .align {
    position: relative;
    left: -50%;
}

.ui.grid {
  margin: 0;
}

.ui.grid {
  min-width: 100%;
}
.ui.horizontal.segments {
  padding: 0 8rem;
  border: none;
  box-shadow: none;
}

.ui.horizontal.segments .segment {
  padding: 0 4rem;
  border: none;
  box-shadow: none;
}

@media only screen and (max-width: 700px) {

    .masthead.segment {
        min-height: 250px;
        padding: 1em 0em;
    }
}