<div class="ui top attached masthead center aligned image segment"
  style="background-image: url('assets/images/home-background.jpg')">

  <div class="ui text container">
    <i class="huge circular inverted teal code icon"></i>
    <div class="ui inverted huge header">Create and share powerful code snippets</div>
    <div class="ui inverted medium header">Use them anywhere, anytime.</div>
  </div>

  <div class="scroll button container">
    <div class="align">
    <button class="transparent button" (click)="scrollToLogin()">
      <i class="angle double down big bounce no margin icon"></i>
    </button>
    </div>
  </div>
</div>

<div id="login-form" class="ui attached vertical stripe padding segment">
  <div class="ui middle aligned center aligned grid">
    <div class="column">
      <app-login></app-login>
    </div>
  </div>
</div>

<div class="ui attached center aligned padding segment">
  <img class="image logo" src="assets/images/spring-boot-logo.png" />
  <img class="image logo" src="assets/images/angular-logo.png" />
  <img class="image logo" src="assets/images/docker-logo.png" />
  <img class="image logo" src="assets/images/elastic-logo.png" />
  <img class="image logo" src="assets/images/java-logo.png" />
  <img class="image logo" src="assets/images/typescript-logo.png" />
  <img class="image logo" src="assets/images/maven-logo.png" />
</div>

<div class="ui bottom attached center aligned segment">
  <div class="ui container">
    <div class="footer">
      <div class="ui centered small header"> 
        Made with 
        <span><i class="red heart icon no margin"></i></span> on 
        <a href="https://github.com/Nexucis/coddy" target="blank">Github</a>
      </div>
    </div>
  </div>
</div>